.content__body::-webkit-scrollbar {
  width: 8px;
}

.content__body::-webkit-scrollbar-thumb {
  background: #939393;
  border-radius: 5px;
}

.content__body::-webkit-scrollbar-thumb:hover {
  background: #1c73a6;
}

.main__chatcontent {
  /* flex-grow: 1; */
  padding: 15px;
  width: 96%;
  height: 34vh;
  position: relative;
  border-right: 1px solid #ebe7fb;
}

.content__header {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebe7fb;
}

.current-chatting-user {
  display: flex;
  align-items: center;
}

.current-chatting-user p {
  margin: 0;
  font-weight: 600;
}

.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings .btn-nobg {
  color: #000;
}

.content__body {
  height: 28vh;
  padding-right: 10px;
  overflow: auto;
}

.chat__item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: right;
  animation-name: showIn;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.88,
      0.19,
      0.37,
      1.11);
  animation-fill-mode: both;
  animation-delay: 0.2s;
}

@keyframes showIn {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.chat__item__content {
  background-color: #00629be3;
  color: #fff;
  padding: 10px;
  padding-bottom: 3px;
  border-radius: 10px 10px 0 10px;
  max-width: 50%;
  text-align: left;
  min-width: 150px;
}

.chat__item__content .chat__meta {
  margin-top: 2px;
  margin-right: 5px;
  float: right;
}

.chat__item__content .chat__meta span {
  font-size: 11px;
  color: #f8f8fa;
  margin-right: 7px;
  user-select: none;
}

.chat__msg {
  user-select: none;
}


.chat__item.other .chat__item__content {
  background-color: #dfd9d985;
  color: #000;
  border-radius: 10px 10px 10px 0;
  max-width: 50%;
}

.chat__item.other .avatar {
  margin-right: 20px;
  margin-left: 0px;
}

.chat__item.other .chat__item__content .chat__meta span {
  color: #1d1c1c;
}

.content__footer {
  padding-top: 10px;
  padding-right: 10px;
}

.sendNewMessage {
  background-color: #8693d345;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  border-radius: 8px;
}

.sendNewMessage button {
  width: 28px;
  height: 28px;
  background-color: #4e67e9;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  color: #4665ff;
  padding: 0;
  border-radius: 5px;
  line-height: 36px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}

.sendNewMessage button:hover {
  transform: scale(1.2);
}

.sendNewMessage button i {
  display: block;
}

.sendNewMessage input {
  flex-grow: 1;
  padding: 0 15px;
  background-color: transparent;
  border: none;
  outline: none;
}

#sendMsgBtn {
  background-color: #1c73a6;
  color: #fff;
}

#deleteIcon {
  position: absolute;
  color: #ff0000;
  bottom: 1px;
  right: 1px;
  width: 20px;
  font-size: 13px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
}

#deleteIcon:hover {
  transform: scale(1.1);
}

#chatdate {
  font-size: 13px;
  color: rgba(52, 49, 49, 0.79);
  background: rgb(205, 211, 239);
  border-radius: 20px;
  width: 50px;
  height: 20px;
  margin-left: 39%;
  margin-bottom: 5px;
}


.chat__itemDelete {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
  transition: all 0.3s ease-out;
  transform: scale(0);
  transform-origin: right;
  animation-name: showOut;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.88,
      0.19,
      0.37,
      1.11);
  animation-fill-mode: both;
  animation-delay: 0.2s;
}

@keyframes showOut {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}